<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:ec="http://typo3.org/ns/FGTCLB/AcademicPrograms/ViewHelpers"
>
    <f:if condition="{settings.filter.options} == 0 && !{settings.categories}" >
        <f:form action="list" object="{demand}" name="demand" objectName="demand">
            <f:render partial="Program/FilterSorting" arguments="{_all}" />
            <f:render partial="Program/FilterCategories" arguments="{_all}" />
        </f:form>
    </f:if>
    <div class="program-list">
        <f:if condition="{programs}">
            <f:for each="{programs}" as="program">
                <div
                    class="program"
                    data-application=""
                >
                    <f:link.page pageUid="{program.uid}">
                        <h3>{program.title}</h3>
                        <p>
                            <f:for each="{program.categories.degree}" as="degree">
                                {degree.title}
                            </f:for>
                        </p>
                    </f:link.page>
                </div>
            </f:for>
        </f:if>
    </div>
</html>
