<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<dl>
    <f:for each="{program.categories.allCategoriesByType}" key="type" as="categories">
        <f:if condition="{categories}">
            <dt>
                <core:icon identifier="academic-programs-{type}"/>
                {f:translate(
                    key: 'sys_category.academic_programs.{type}',
                    extensionName: 'academic_programs'
                )}:
            </dt>
            <dd>
                <f:for each="{categories}" as="category">
                    {category.title}
                </f:for>
            </dd>
        </f:if>
    </f:for>
</dl>
</html>
