<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:if condition="{program.attributes}">
    <f:then>
        <f:variable name="cateoriesByType" value="{program.attributes.allCategoriesByType}" />
    </f:then>
    <f:else>
        <f:variable name="cateoriesByType" value="{program.categories.allCategoriesByType}" />
    </f:else>
</f:if>
<dl>
    <f:for each="{cateoriesByType}" key="type" as="categories">
        <f:if condition="{categories}">
            <dt>
                <core:icon identifier="category_types.programs.{type}"/>
                {f:translate(
                    key: 'sys_category.academic_programs.{type}',
                    extensionName: 'academic_programs'
                )}:
            </dt>
            <dd>
                <f:for each="{categories}" as="category">
                    {category.title}
                </f:for>
            </dd>
        </f:if>
    </f:for>
</dl>
</html>
