<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:ace="http://typo3.org/ns/FGTCLB/AcademicPrograms/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="card flex-column-reverse academic-programs-item mt-4">
    <div class="card-content">
        <div class="card-body">
            <f:render
                partial="Program/Header"
                arguments="{
                    header: '{program.title}',
                    layout: '{data.header_layout}',
                    positionClass: 'card-title',
                    link: '{f:uri.page(pageUid: program.uid)}',
                    subheader: '{data.subheader}'
                }"
            />
        </div>

        <f:comment>
            The facts of the card, from the setting "plugin.tx_academicprograms.card.fields":
            the degree unless the setting names others.
        </f:comment>
        <f:variable name="cardFacts" value="{ace:program.facts(program: program, fields: settings.card.fields)}" />
        <f:render
            partial="Program/Facts"
            arguments="{
                facts: cardFacts,
                listClass: 'list-group list-group-flush',
                itemClass: 'list-group-item'
            }"
        />
    </div>

    <f:for each="{program.media}" as="image" iteration="i">
        <f:if condition="{i.isFirst}">
            <f:comment>The shared partial of EXT:academic_base.</f:comment>
            <f:render
                partial="Academic/Image"
                arguments="{
                    image: image,
                    preset: 'card',
                    class: 'card-img-top img-fluid'
                }"
            />
        </f:if>
    </f:for>
</div>

</html>
